@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--dark-gray: #141313;
	--header-black: #020101;
	--primary-white: #ffffff;
	--secondary-gray: #c4c7c8;
	--default-font: "Inter", sans-serif;
	--terciary-gray: rgb(36, 36, 36);
}

body {
	margin: 0;
	background-color: var(--dark-gray);
	font-family: var(--default-font);
}

#root {
	display: flex;
	gap: 32px;
	flex-direction: column;
}

main {
	min-height: 100vh;
}

.error-page {
	display: flex;
	align-items: center;
	justify-content: center;
}

.not-found {
	color: var(--primary-white);
}

button {
	border: none;
	font-family: var(--default-font);
	cursor: pointer;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

p,
h1,
h2 {
	margin: 0;
}

header {
	display: flex;
	padding: 14px 25px;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-black);
	gap: 8px;
}

footer {
	padding: 24px;
	text-align: center;
	background-color: var(--header-black);
	color: var(--secondary-gray);
}

.header-right {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header-title {
	color: var(--primary-white);
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	transition: all 200ms ease;
}

.header-title:hover {
	color: var(--secondary-gray);
}

.header-btn {
	padding: 6px 12px;
	transition: all 200ms ease;
}

.signup {
	border-radius: 12px;
}

.login,
.logout {
	background-color: var(--header-black);
	border-bottom: 2px solid var(--header-black);
	color: var(--primary-white);
}

.login:hover,
.logout:hover {
	border-color: var(--primary-white);
}

.header-icon {
	width: 30px;
}

.username {
	color: var(--primary-white);
}

.posts-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 700px;
	align-self: center;
	gap: 12px;
}

.posts-list-top {
	display: flex;
	flex-direction: column;
	padding: 12px;
	gap: 8px;
	color: var(--primary-white);
	min-width: 100%;
}

.posts-top-h2 {
	padding: 0px 12px;
}

.posts-top-p {
	padding: 0px 12px;
	font-size: 14px;
}

.description {
	color: var(--secondary-gray);
}

.loading {
	color: var(--primary-white);
}

.posts-list-grid {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.post-title-featured {
	color: var(--primary-white);
	font-size: 12px;
}

.post-img-featured {
	max-width: 100%;
	object-position: center;
	object-fit: cover;
}

.post-card {
	display: flex;
	flex-direction: column;
	padding: 12px;
	gap: 8px;
	color: var(--primary-white);
}

.featured {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid var(--terciary-gray);
}

.post-sp-featured {
	font-weight: bold;
	color: var(--primary-white);
}

.post-p {
	grid-column: 2/3;
	font-size: 14px;
}

.post-p.created-at {
	display: flex;
	gap: 8px;
	font-size: 12px;
	color: var(--secondary-gray);
}

.post-p.title {
	font-size: 16px;
	font-weight: bold;
}

.post-p.author {
	border-radius: 8px;
	max-width: fit-content;
	padding: 5px;
	font-size: 12px;
	text-align: center;
	background-color: var(--terciary-gray);
}

.post-btn.read {
	background-color: var(--dark-gray);
	color: var(--primary-white);
	border-bottom: 2px solid var(--terciary-gray);
	padding: 8px;
	max-width: fit-content;
	transition: all 200ms ease;
}

.post-btn.read:hover {
	border-color: var(--primary-white);
}

/*detailed post view and comments*/

.post {
	display: flex;
	justify-content: center;
}

.post-body {
	display: flex;
	flex-direction: column;
	padding: 24px;
	max-width: 700px;
	gap: 8px;
	color: var(--primary-white);
}

.post-body-img {
	max-width: 100%;
	padding: 12px 0px;
	object-fit: cover;
	object-position: center;
}

.post-info-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid var(--terciary-gray);
}

/*signup and login forms*/

.user-form-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--primary-white);
}

.user-form {
	display: flex;
	flex-direction: column;
	height: fit-content;
	color: var(--primary-white);
	gap: 12px;
	padding: 16px;
}

.user-form-legend {
	font-size: 18px;
	font-weight: bold;
}

.signup-top {
	display: grid;
	gap: 12px;
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 400px) {
	.signup-top {
		grid-template-columns: 1fr;
	}

	.form-input {
		max-width: 100%;
	}
}

@keyframes SlideFadeIn {
	0% {
		opacity: 0;
		transform: translateX(-5px);
	}
}

.form-err-container {
	display: flex;
	flex-direction: column;
	color: var(--primary-white);
	gap: 4px;
	font-size: 12px;
	max-width: 150px;
	transform-origin: top;
	animation: SlideFadeIn 400ms ease-out;
}

.val-err-icon {
	width: 20px;
	height: 20px;
}

.val-err-msg {
	display: flex;
	gap: 8px;
	padding: 8px;
	background-color: var(--header-black);
	border-radius: 8px;
}

.signup-email {
	grid-row: 2/3;
}

.email-err {
	grid-row: 3/4;
}

.form-input {
	color: var(--primary-white);
	border: 1px solid rgb(100, 100, 100);
	padding: 0px 8px;
	border-radius: 8px;
	background-color: rgb(43, 43, 43);
	height: 25px;
}

.submit-btn {
	background-color: var(--primary-white);
	padding: 6px;
	border: 1px solid var(--primary-white);
	border-radius: 8px;
	transition: all 200ms ease;
}

.submit-btn:hover {
	background-color: rgba(255, 255, 255, 0.849);
}

.form-notice {
	padding: 0px 16px;
	text-align: center;
}

.form-notice-sp {
	color: var(--secondary-gray);
}

.form-anchor {
	color: var(--primary-white);
	text-decoration: none;
}
